<div class="notifications-container" *ngIf="notifications?.length">
    <div
        class="notification animate__animated animate__fadeInRight"
        [ngClass]="{
            'is-danger': notification.type === 'warning',
            'is-info': notification.type === 'info',
            'is-success': notification.type === 'success'
        }"
        *ngFor="let notification of notifications"
    >
        <button class="delete" (click)="onDelete(notification.id)"></button>
        {{ notification.description }}
    </div>
</div>
