<ng-container>
    <div class="box">
        <div class="list-header">
            <h2 class="is-size-4 has-text-weight-semibold">Your chats</h2>
            <button
                class="button is-primary hasShadow"
                (click)="openNewChatModal()"
            >
                <p>Add new</p>
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
            </button>
        </div>
        <div class="users-container">
            <app-chat-box
                (click)="onChatClicked(chat.id)"
                [chatData]="chat"
                [active]="chat.id === selectedChatId"
                *ngFor="let chat of chats"
            ></app-chat-box>
        </div>
    </div>
</ng-container>
