.box {
    height: 100%;
    overflow-y: scroll;
}

.list-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.button {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}