<div class="box">
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
    <app-chat-box></app-chat-box>
</div>
