<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <h1 class="title is-4">ChatLobby</h1>
    </div>

    <div *ngIf="isLoggedIn$ | async" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <p class="mr-2">{{ (authData$ | async)?.username }}</p>
                <img
                    class="mr-4"
                    src="https://api.dicebear.com/6.x/fun-emoji/svg?seed={{
                        (authData$ | async)?.username
                    }}"
                    alt=""
                />
                <div class="buttons">
                    <a class="button is-light" (click)="onLogoutClicked()">
                        Log out
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!(isLoggedIn$ | async)" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" routerLink="register">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" routerLink="login"> Log in </a>
                </div>
            </div>
        </div>
    </div>
</nav>
