<ng-container *ngIf="message">
    <div class="message-wrapper" [ngClass]="{ isOwned: isOwned === true }">
        <div class="box">
            <p class="message-username">{{ message.sender }}</p>
            <p class="message-content">{{ message.content }}</p>
            <div class="message-state" [ngSwitch]="message.state">
                <i class="fas fa-check-circle" *ngSwitchCase="'VIEWED'"></i>
                <i class="far fa-check-circle" *ngSwitchCase="'SEND'"></i>
            </div>
            <div class="tail"></div>
        </div>
    </div>
</ng-container>
