<section class="hero">
    <div class="hero-body">
      <div class="container">
          <form action="" class="box">
              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control">
                  <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control">
                  <input type="password" placeholder="*******" class="input" required>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Password repeat</label>
                <div class="control">
                  <input type="password" placeholder="*******" class="input" required>
                </div>
              </div>
              <div class="field">
                <button class="button is-success">
                  Register
                </button>
              </div>
            </form>
      </div>
    </div>
  </section>