<div class="box">
    <div class="message-container">
        <app-message-box></app-message-box>
        <app-message-box [isOwned]="true"></app-message-box>
        <app-message-box></app-message-box>
        <app-message-box></app-message-box>
        <app-message-box></app-message-box>
        <app-message-box></app-message-box>
        <app-message-box></app-message-box>
        <app-message-box></app-message-box>
    </div>
    <div class="input-container">
        <input type="text" class="input">
        <button class="button is-success">
            <span class="icon">
                <i class="fas fa-paper-plane"></i>
              </span>
        </button>
    </div>
</div>
