.box {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-gap: 20px;
}

.message-container {
    overflow-y: scroll;
    min-height: 70vh;
    padding-right: 50px;
    padding-left: 30px;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-gap: 20px;
    .button {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .button:hover {
        background-color: #03a87c;
        transition-duration: 0.5s;
    }
}
.input {
    border: 1px solid #323232;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    grid-row: 1/4;
    height: 100%;
}

.overlay-no-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
