<div class="box">
    <ng-container *ngIf="selectedChat">
        <div class="chat-header">
            <p class="title">{{ selectedChat?.user?.username }}</p>
            <img
                class="ml-4"
                src="https://api.dicebear.com/6.x/fun-emoji/svg?seed={{
                    selectedChat?.user?.username
                }}"
                alt=""
            />
        </div>
        <ng-container *ngIf="messages?.length">
            <div class="message-container">
                <app-message-box
                    *ngFor="let message of messages"
                    [message]="message"
                ></app-message-box>
            </div>
        </ng-container>
        <ng-container *ngIf="!messages?.length">
            <div
                class="overlay-no-messages title has-text-weight-bold is-size-1 has-text-grey"
            >
                No messages in chat
            </div>
        </ng-container>
        <div class="input-container">
            <input type="text" class="input" [formControl]="messageContent" />
            <button class="button is-success" (click)="sendMessage()">
                <span class="icon">
                    <i class="fas fa-paper-plane"></i>
                </span>
            </button>
        </div>
    </ng-container>
    <ng-container *ngIf="!selectedChat">
        <div class="overlay title has-text-weight-bold is-size-1 has-text-grey">
            No chat selected yet!
        </div>
    </ng-container>
</div>
